<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <title>MyBookList - Server v2</title>
</head>
<body>
    <h1>Node REST API</h1>
    <h3>This is an API Example</h3>
	<h3><a href='http://www.api.luxartem.ro/page1'>Girl 1</a></h3>
	<h3><a href='http://www.api.luxartem.ro/page2'>Girl 2</a></h3>
</body>
</html>
